/* html {
    overflow-y: hidden;
    overflow-x: hidden; 
}  */

.main {
    min-height: 100vh;
}

.sec__left {
    color: #6c7293;
    margin-left: 10px;
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 2;
    height: 100vh;
}

.sec__left::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    opacity: 0.3;
}

.sec-left__list {
    position: absolute;
    right: 0;
    top: 50px;
    width: 100%;
    list-style: none;
    padding: 0 20px;
    margin: 0;
    z-index: 9999;
}

.sec-left__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 20px;
}

.user__avt {
    display: block;
    padding: 10px 14px;
    background-color: #fff;
    border-radius: 50%;
}

.user__name {
    margin: 0;
    width: 200px;
    font-size: 18px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user__name p {
    margin: 0;
    font-size: 16px;
}

.user__setting {
    position: relative;
    font-size: 25px;
    cursor: pointer;
}

.setting__option {
    padding: 0 10px;
    padding-bottom: 20px;
    margin: 0;
    list-style: none;
    min-width: 180px;
    min-height: 0px;
    background: #191c24;
    border: 2px solid #2c2e33;
    position: absolute;
    border-radius: 4px;
    z-index: 10;
}

.setting__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #ccc;
}

.setting__link i {
    margin: 10px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #0E8388;
}

.setting__link:not(.active):hover {
    color: #fff;
    background: #0f1015;
}

.sec-left__menu {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.active {
    border-bottom: 5px solid #62CDFF;
}

#icon1 {
    color: #617143;
}

#icon2 {
    color: #DF7857;
}

#icon3 {
    color: #E7AB9A;
}

#icon4 {
    color: #2F58CD;
}

#icon5 {
    color: #DF2E38;
}

.sec-left__item:not(.active):hover {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.1s linear;
    text-align: left;
}
.menu-title{
    display: block;
    font-size: 15px;
    text-align: left;
    text-transform: capitalize;
    margin-top: 10px;
    color: #62CDFF;
}
.sec-left__link {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0px 8px 10px;
    font-size: 18px;
    transition: transform 0.1s linear;
    text-align: left;
    margin-left: 15px;
}

.sec-left__link i {
    margin-right: 10px;
    color: #AA5656;
}

.sec-left__link:not(.active):hover {
    color: #fff;
    transform: translateX(8px);
}


/* right */
.sec-right {
    background: #fff;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}


/* header menu */



.menu-user {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    height: 50px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-avt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-name {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* product table */
.table-product {
    border-radius: 10px;
    border: 1px solid #777;
    width: 100%;
    padding: 0 10px;
    max-height: 531px;
    min-height: 100px;
}

.table-product thead {
    height: 50px;
    background-color: #0E8388;
    color: #fff;

}
/* .table-product td, .table-product th{
    border: 1px solid #ccc;
} */
.table-body{
    border: 1px solid #777 !important;
}
.table-body tr:nth-child(even) {
    height: 60px;
    background-color: #ebebeb;
    /* Màu nền cho hàng chẵn */
}

.table-body tr:nth-child(odd) {
    height: 60px;
    background-color: #ffffff;
    /* Màu nền cho hàng lẻ */
}
.table-head tr{
    text-align: left;
}
 tr{
    text-align: left;
    max-height: 50px !important;
}
.column1-th{
    width: 220px;
}
.column1{
    margin-left: 20px;
    width: 180px;
    height: 50px;
    overflow: hidden;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.column2, .column3, .column6, .column7, .column8{
    height: 50px;
    text-align: center;
}
.column6, .column7, .column8{
    width: 123px;
}
.column4{
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: left;
}
.column4-th{
    width: 150px;
}
.column5{
    width: 230px;
    text-align: center;
}
.table-date{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 

}

/* pagination */
.product-pagination{
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 5px;
}
.pagination{
    display: flex;
    max-width: 520px;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
.pagination span{
    display: block;
    width: 40px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.active_page{
    background-color: #0E8388;
    border-radius: 5px;
    color: #fff;
}

/* add product */
.form-product{
    width: 98%;
    background-color: #d9fbf2;
    margin: 0 auto;
    padding: 20px 0 20px 25px;
    border-radius: 10px;
    border: 1px solid #0E8388;
}
.loading-add-product{
    position: relative;
    top: 50%;
}
.group input, .form-select, .form-description{
    border: 1px solid #0E8388;
}
.form-product input:not(.formFile), .form-description, .form-select{
    background-color: #fff;
    margin: 0;
    width: calc(100% - 20px);
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
.form-product input:focus, .form-description:focus, .form-select{
    color: #2c2e33;
}
.form-select:focus{
    box-shadow: none;
    appearance: none; 
}
.form-option{
    border: none;
    padding: 5px;
}
.form-option:hover{
    background-color: #0E8388;
}
.group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.group label{
    margin-top: 20px;
}
.group label span{
    color: #ff0c0c;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
}
.formFile{
    color: #000;
    background-color: #fff;
    margin: 0;
    width: calc(100% - 20px);
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
}
.form-btn{
    margin-top: 20px;
    width: 50%;
    height: 60px;
    background-color: #0E8388;
    color: #fff;
    font-size: 18px;
    transition:  background-color linear 0.4s;
}
.form-btn:hover{
    border: 1px solid #0E8388;
}
.mes{
    font-size: 25px;
    animation: scaleUp linear 1.2s infinite;
}

@keyframes scaleUp{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.mess-success{
    color: #4ff560;
}
.mes-failded{
    color: #ff0606;
}
.btn-brand{
    font-size: 12px;
    display: inline-block;
    height: 30px;
    margin-top: 15px;
    width: 110px;
    color: #fff;
}
.overlay2{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 255px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.brand-form{
    position: absolute;
    top: 50%;
    left: 41%;
    transform: translate(-50%, -50%);
    border: none;
    width: 400px;
    background-color: #fbfeff;
    border-radius: 5px;
    z-index: 1000;
    padding-right: 0;
}
.btn-brand-submit{
    width: 200px;
    background-color: #0E8388;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
}

.btn-brand-submit:hover{
    color: #fff;
    background-color: #0E8388;
}
.center-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* header */

.header-admin {
    height: 50px;
    border-bottom: 1px solid #cec8c8;
    margin-left: -15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.role-user{
    position: relative;
    width: 200px;
    cursor: pointer;
    text-align: left;
}

.role-list{
    /* display: none; */
    position: absolute;
    top: 30px;
    left: 15px;
    background-color: #0E8388;
    list-style: none;
    padding: 10px 30px;
    min-width: 200px;
    border: 1px solid #2c2e33;
    border-radius: 5px;
    color: #fff;
    opacity: 0;
   z-index: -1;
}
.active_role{
    opacity: 1;
    z-index: 10;
}
.role-user .active_role + .role-title{
    color: #0E8388;
}
.active_role li{
     animation: growDown 1s ease-in-out;
     transform-origin: top center;
     padding: 10px 0;
    text-align: left;
}
.role-title i{
    color: #0E8388;
    font-size: 20px;
}
.role-list::before{
    content: "";
    position: absolute;
    left: 16px;
    top: -14px;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;    
    border-bottom: 15px solid #0E8388;
}
.role-list li{
   cursor: default
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}
.admin-search{
    width: 450px;
    position: relative;
    text-align: left;
}
.admin-search input{
    width: 90%;
    border: 1px solid #a3a3a3;
    outline: none;
    border-radius: 15px;
    height: 38px;
    padding-left: 20px;
    border-right: none;
}
.admin-search button{
    position: absolute;
    top: 0;
    right: 0px;
    border: 1px solid #a3a3a3;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 38px;
    padding: 0 20px;
    transition:  all linear 0.3s;
}
.admin-search button:hover{
    background-color: #0E8388;
    color: #fff;
}
.admin-action{
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logout-admin{
    background-color: #0E8388;
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.back-home{
    display: inline-block;
    font-weight: 800;
    cursor: pointer;
    transition:  transform linear 0.2s;
    color: #2c2e33;
}
.back-home:hover{
    transform: scale(1.1);
    
}
.back-home:hover i{
    color: #0E8388;
    animation: rotateAnimation 0.3s linear; 
}


@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg); 
    }
}
/* edit */
.img-admin-edit{
    width: 90px;
    height: 90px;
    border-radius: 5px;
}

.form-File-edit{
    width: 70% !important;
    display: none;
}
.label-file-edit{
    position: relative;
}

.edit-icon{
    position: absolute;
    bottom: -10px;
    right: -19px;
    font-size: 29px;
    cursor: pointer;
    transition: transform linear 0.2s;
}
.edit-icon:hover{
    color: #0E8388;
    transform: scale(1.1);
}


/* admin product detail  */
.admin-card{
    width: 600px;
    height: 675px;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: #4c4c4c;
    letter-spacing: 1px;
    padding: 10px 20px;
}
.card-close{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 35px;
    color: #ff0606;
    cursor: pointer;
}
.card-close-speci{
    float: right;
    font-size: 35px;
    color: #ff0606;
    cursor: pointer;
    margin: 0 20px 0 0;
}
.card-image{
    position: absolute;
    top: 48px;
    left: -145px;
    width: 300px;
    height: 500px;
}
.card-image-head{
    width: 100%;
}
.card-image img{
    width: 100%;
    border-radius: 10px;
    height: 90%;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}
.card-specifications{
    background: radial-gradient(#e5f89e, #96e001);
    width: 300px;
    border-radius: 10px;
    padding: 10px 0;
    height: 265px;
}
.card-specifications span{
    display: block;
    font-size: 20px;
    margin: 5px 0;
}
.card-specifications-title{
    font-size: 23px !important;
}
.card-info{
    position: absolute;
    right: 10px;
    margin-top: 10px;
    width: calc(100% - 179px);
}
.card-info h3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: left;
    color: #ff3f40;
}
.card-info-name, .card-info-price{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.card-info-name p, .card-info-price p{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}
.card-info-name span, .card-info-price span{
    display: inline-block;
    color: #a6a6a6;
    font-size: 16px;
    font-weight: 400;
}
.card-info-description{
    height: 130px;
    padding: 10px;
    margin:0 20px;
    text-align: left;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 1px solid #2c2e33;
    border-radius: 5px;
}
.card-info-title{
    font-size: 20px;
    text-align: left;
    display: block;
    margin-left: 10px;
    font-style: italic;
    font-weight: 600;
    color: #9be010;
    letter-spacing: 2px;
}

/* thông số kỹ thuật */

.spe-form{
    width: 1000px;
    min-height: 300px;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #4c4c4c;
}

.spe-form p{
    color: #0E8388;
    display: block;
    margin: 20px 0 20px 30px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.spe-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.spe-group input, .spe-group select{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #2c2e33;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.spe-group label{
    font-size: 18px;
    margin-bottom: 5px;
   
}
.spe-close{
    font-size: 35px;
    color: #ff0606;
    cursor: pointer;
    float: right;
}

/* admin sort */

.admin-table-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-table-title p{
    margin: 0 4px 0 0;
}

.admin-sort{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;

}
.admin-sort i{
    color: #ccc;
    font-size: 20px;
}
.admin-sort:hover .admin-sort-list{
    display: block;
    
}
.admin-sort-list{
    position: absolute;
    top: 28px;
    right: -10px;
    width: 150px;
    min-height: 100px;
    background-color: #fff;
    color: #2c2e33;
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: left;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #4c4c4c;
    display: none;
    animation: fadeIn linear 0.2s;
    transform-origin: center;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.admin-sort-list::before{
    content: "";
    position: absolute;
    top: -9px;
    right: 6px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;    
    border-bottom: 10px solid #fff;
}
.admin-sort-list::after{
    content: "";
    position: absolute;
    top: -23px;
    right: 0;
    width: 50%;
    height: 30px;
}
.admin-sort-list::after:hover .admin-sort-list{
    opacity: 1;
}
.admin-sort-list li{
    margin: 5px 10px;
    cursor: pointer;
    transition:  transform linear 0.2s;
}
.admin-sort-list li:hover{
    transform: translateX(5px);
}
.active-sort{
    display: inline-block;
    margin-right: 40px;
    text-align: left;
    color: #f82c2c;
    font-size: 20px;
    font-weight: 600;
    animation: scale linear 0.5s infinite;
    cursor: pointer;
}

@keyframes scale {
    to{
        transform: scale(1);
    }
    from{
        transform: scale(1.3);
    }
}
/* entry receipt */
.entry-table{
    margin: 0 auto;
    border: 1px solid #ccc;
    position: relative;
    
}
.entry-thead tr, .entry-tbody tr{
    display: flex;
    width: 100%;
    background-color: #0E8388;
    height: 50px;
    align-items: center;
    color: #fff;
    padding-left:20px;
    text-align: left;
}
.entry-tbody tr{
    background-color: #fff;
    color: #2c2e33;
}
.entry-tbody tr:nth-child(even){
    background-color: #ebebeb;
}

.entry-col1{
    width: 90px;
}
.entry-col2, .entry-col3{
    width: 200px;
}
.entry-col4{
    width: 200px;
    /* overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; */

}
.entry-col5{
    width: 116px;
    text-align: center;
}

.entry-form{
    width: 650px;
    background-color: #fff;
    max-height: 500px;
    min-height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.entry-info{
    max-height: 190px;
    min-height: 190px;
    width: 600px;
}
.entry-scroll{
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding-right: 10px;
}
.entry-group{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.entry-group label{
    text-align: left;
    margin: 10px 0;
    height: 24px;
}
.entry-group select{
    background-color: #fff;
    margin: 0;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
.entry-group input{
    background-color: #fff;
    margin: 0;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #666;
}
.entry-img{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px ;
    height: 100px;
}
.entry-img i{
    position: absolute;
    top: -13px;
    right: -10px;
    font-size: 25px;
    color: red;
    cursor: pointer;
}
.btn-entry{
    height: 100%;
    display: inline-block;
    width: 100px;
    line-height: 100%;
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
}
.entry-close{
    font-size: 35px;
    color: #ff0606;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 17px;
}
.admin-export-entry{
    width: 90%;
}
.list-sort-entry{
    position: absolute;
    display: block;
    z-index: 1000;
    top: 0;
    min-height: 100px;
    background-color: #fff;
    color: #2c2e33;
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: left;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #4c4c4c;
    animation: fadeIn linear 0.2s;
    transform-origin: center;
}



/* filter */
.input-admin-filter{
    text-align: left;
    margin: 10px 0;
    display: flex;
    height: 40px;
    justify-content: flex-end;
}
.filter-admin-input input{
    outline: none;
    padding-left: 10px;
    height: 30px;
    width: 100%;
}
.input-admin-filter button{
    display:inline-block;
    width: 40px;
    height: 100%;
    background-color: #617143;
    line-height: 35px;
    margin-left: 6px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    width: 100px;
    outline: none;
    border: none;
}
.filter-admin-date{
    height: 100%;
    min-width: 530px;
    margin-left: 20px;
}
.filter-admin-date select{
    height: 100%;
    outline: none;
    margin-right: 5px;
}
.admin-export{
    width: 150px;
    display: flex;
    justify-content: space-around;
}

/* supplier */

.form-supplier{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    background-color: #fff;
    padding: 20px;
}

/* user */

.admin-user-table{
    width: 100%;
}
.admin-user-table thead{
    height: 50px;
    background-color: #0E8388;
    color: #fff;
}
.admin-user-table td, .admin-user-table th{
    border: 1px solid #ccc;
}
.admin-user-col1{
    width: 50px;
    text-align: center;
}
.admin-user-col7, .admin-user-col4, .admin-user-col5{
    width: 150px;
    text-align: center;
}
.admin-user-col3{
    padding-left: 10px;
    width: 300px;
}
.admin-user-col6{
    padding-left: 10px;
}
.admin-user-col2{
    width: 250px;
    text-align: left;
    padding-left: 20px;
}

.admin-user-table tbody tr:nth-child(even) {
    height: 60px;
    background-color: #ebebeb;
    /* Màu nền cho hàng chẵn */
}

.admin-user-table tbody tr:nth-child(odd) {
    height: 60px;
    background-color: #ffffff;
    /* Màu nền cho hàng lẻ */
}
/* sort */

.isSort{
    justify-content: flex-start;
    align-items: center;
    display: none;
    height: 30px;
}

.isSort span{
    display: none;
    font-size: 20px;
    padding: 10px;
    color: red;
    font-weight: 600;
    cursor: pointer;
    animation: scale linear 1s infinite;
}
.isSort-active span{
    display: block;
    animation: scale linear 1s infinite;
}

.isSort-active{
    display: flex;
}

.isDisable{
    opacity: 0.3;
}

/* company */
.admin-profile-company h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.admin-profile-company .info{
    text-align: left;
    width: 80%;
    margin: auto;
    font-size: 16px;
}

.admin-profile-company .info label{
    font-weight: 600;
}

.admin-profile-company .info span i{
    font-size: 18px;
    color: #2F58CD;
    cursor: pointer;
}


.admin-profile-company .info span input{
    min-width: 60%;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}

.admin-profile-company .info span input:focus{
    min-width: 60%;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #0E8388;
}

.admin-profile-company .info .logo img{
    width: 100px;
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
}
.admin-profile-company .info .logo div{
    position: relative;

}
.admin-profile-company .info .logo i{
    position: absolute;
    right: -18px;
    bottom: -11px;
    font-size: 30px;
    cursor: pointer;
} 
.admin-profile-company .info .logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* loadding */

.center-laoding{
    position: relative;
    top: 50%;
}
/* alert */
.admin-alert{
    position: fixed;
    top: 20px;
    right: 20px;
}
