/* header */

.header-ui {
    max-height: 190px;
}
.top {
    height: 120px;

}
.header-logo {
    position: relative;
}
.header-logo img {
    position: absolute;
    left: 0;
    top: 10px;
    height: 110px;
    aspect-ratio: 4/3;
    border-radius: 10px;
    border: 1px solid #0e8388;
}
.header-logo span {
    position: absolute;
    top: 15px;
    right: 77px;
    display: inline-block;
    font-size: 30px;
    color: #0e8388;
    text-transform: uppercase;
}
.header-logo p {
    position: absolute;
    top: 50px;
    right: 54px;
    display: inline-block;
    font-size: 25px;
    color: red;
    margin: 0;
}
.top-tact {
    display: flex;
}
.top-tact img {
    margin-top: 10px;
    height: 110px;
    aspect-ratio: 4/3;
}
.top-tact span {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}
.top-tact div {
    height: 100px;
    margin: 20px 0 0 10px;
}
.search {
    min-height: 120px;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.search {
    position: relative;
}
.search input {
    width: 80%;
    border: 1px solid #111;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 0 10px 20px;
    outline: none;
    caret-color: #0e8388;
}
.search input::placeholder {
    color: #0e8388;
    font-size: 18px;
    font-weight: 550;
    fill: #0e8388;
}
.search-btn {
    position: absolute;
    top: 37.5px;
    right: 36px;
    border: 1px solid #111;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 45.6px;
    outline: none;
    background: #fff;
    width: 60px;
    padding: 0 10px;
    transition: all linear 0.3s;
}

.search-btn:hover {
    background: #0e8388;
    color: #fff;
}
.search-list{
    position: absolute;
    top:85px;
    right: 37px;
    left: 14px;
    background: #fff;
    padding: 20px;
    list-style: none;
    border-radius: 5px;
    min-height: 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.26);
}
.search-list li{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-align: left;
    color: #111;
    margin: 10px 0px;
    cursor: pointer;
}
.search-list li:hover{
    color: red;
}
.loading{
    position: absolute;
    right: 110px;
    font-size: 10px;
    width: 20px;
    height: 20px;
}
.delete-test{
    position: absolute;
    right: 110px;
    font-size: 24px;
    color: #111;
    cursor: pointer;
}
.header-nav {
    margin-top: 10px;
    height: 50px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 900px;
    justify-content: space-around;
    align-items: center;
}
.header-list a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #111;
    font-weight: 600;
    transition: all linear 0.1s;
}
.header-list a:hover {
    color: red;
}
.header-list .active-nav {
    color: red !important;
}
.not-active{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(241, 129, 129);
    margin-right: 5px;
    margin-bottom: 2px;
}
.active-nav .not-active{
    background: red;
}
.header-cart {
    width: 120px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all linear 0.3s;
}
.header-cart:hover .cart-icon,
.header-cart:hover span {
    color: #0e8388;
    cursor: pointer;
}
.cart-icon {
    position: relative;
}
.header-cart:hover .cart-icon span {
    color: #fff;
    background: #0e8388;
}
.cart-icon span {
    position: absolute;
    top: -18px;
    right: -15px;
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: #111;
    background: rgb(240, 82, 82);
}

.logined {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.user-drop-down {
    position: absolute;
    top: 44px;
    right: 15px;
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #d8d8d8;
    box-shadow: 1px 0px 10px #ccc;
    list-style: none;
    padding: 10px 10px 10px 20px;
    text-align: left;
    border-radius: 10px;
    z-index: 999;
}
.user-drop-down::before {
    content: '';
    position: absolute;
    top: -14px;
    left: 11px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #d8d8d8;
}
.user-drop-down li {
    padding: 10px 0;
    cursor: pointer;
    transition: all linear 0.3s;
    color: #111;
}
.user-drop-down li  a{
  padding: 10px 0;
    cursor: pointer;
    transition: all linear 0.1s;
    text-decoration: none;
    color:#111
}
.user-drop-down li:hover, .user-drop-down li:hover a{
    color: red;
    transform: translate(5px, -5px);
}
.login {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.logined span {
    display: block;
    font-size: 18px;
    margin-left: 10px;
}
.logined i {
    margin-left: 8px;
    font-size: 20px;
    margin-bottom: 10px;
}
.header-user {
    width: 240px;
    height: 100%;
}
.header-avt {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.btn-login {
    border: 1px solid #0e8388;
    transition: all ease-in-out 0.3s;
    margin-right: 10px;
    
}
.btn-login a{
  text-decoration: none;
    color: #111;
}
.btn-login:hover {
    background: #0e8388;
    color: #fff;
}

/* footer */
.footer-top{
    background-color: #444;
    color: #fff;
    padding: 20px 0;
    text-align: left;
    font-size: 20px;
}
.footer-copyright{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    color: #fff;
    font-size: 18px;
}
.footer-contact{
    margin-top: 20px;
}
.footer-contact h5{
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    color: #0e8388;
    font-weight: 600;
}
.footer-contact h5::before{
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    height: 3px;
    width: 90px;
    background-color: #fff;
}
.footer-list{
    list-style: none;
    padding-left: 10px;
    margin: 0;
    margin-top: 30px;

}
.footer-list li{
    font-size: 16px;
    margin: 10px 0;
}
.footer-list span{
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
}
.footer-list a{
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.footer-list li a:hover{
    color: red;
}

.footer-lisence{
    list-style: none;
    padding: 0;
    margin-top: 30px;

}
.footer-lisence li{
    display: flex;
    align-items: center;
    height: 80px;
    position: relative;
    margin-left: 10px;

}
.license-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin: 10px 10px 0 0;
    z-index: 100;
}
.footer-lisence li::before{
    content: '';
    position: absolute;
    left: 25px;
    height: 100px;
    width: 2px;
    background-color: #111;
}
.license-content h6{
    font-size: 18px;
    margin-bottom: 10px;
    color: red;
}
.license-content span{
    font-size: 16px;
    display: block;
    width: 227px;
}
.footer-social{
    list-style: none;
    padding-left: 10px;
    margin: 0;
    margin-top: 30px;
    display: flex;
}
.footer-social li{
    margin: 0 20px;
    font-size: 30px;
    cursor: pointer;
    color: var(--color);
}
.footer-social i{
    color: var(--color);
}
